<div class="filter">
	<label for="journal-filter">{{=it.lang['sShow_journal']}}</label>
	<select id="journal-filter">
		<option id="journal-All" value="journal-All">{{=it.lang['sall_journal']}}</option>
		<option id="journal-Book" value="journal-Book">{{=it.lang['seu']}}</option>
		<option id="journal-App" value="journal-App">{{=it.lang['sep']}}</option>
		<option id="journal-Resources" value="journal-Resources">{{=it.lang['sresources']}}</option>
	</select>
</div>
<ul class="list">

	{{~it.journal :value:index}}
	<li id="id_..." class="item {{=value.stat}}">
		<a href="#" class="head" target_nav="{{=value.module['section']}}" target_group="{{=value.module['value.parent']}}" target_item="{{=value.module['id']}}">
			<span class="group-name"><h3>{{=value.parent['textTitle']}}</h3><h4>{{=value.parent['textName']}}</h4></span>
			<span class="item-name"><h3>{{=value.module['textTitle']}}</h3><h4>{{=value.module['textName']}}</h4></span>
		</a>
		<h4 class="datetime"><span class="date">{{=value['date']}}</span><span class="time">{{=value['time_start']}}</span><span class="spenttime">{{=value.spentTime}}</span></h4>

		<div class="journal-results">
			<div class="questions-total">Кол-во вопросов: <span>{{=value['questions_total']}}</span></div>
			<div class="questions-correct">Правильных ответов: <span>{{=value['questions_correct']}}</span></div>
			<div class="percentage status">{{=value.percentage}}</div>
		</div>
	</li>
	{{~}}

</ul>