<!DOCTYPE html>
<html lang="ru-RU">
<head>
	<meta charset="UTF-8">
	<title>Журнал наработок</title>
	<link rel="stylesheet" type="text/css" href="../interface/css/print.css">
</head>

<body>
	<div id="journal-print">
		<div class="header">
			<h1>Журнал наработок</h1>

			<div class="header">
				<div class="header-row">
					<div class="label">Дата:</div>
					<div class="datetime">{{=it.date}}</div>
				</div>
			</div>

			<ul class="list">

				{{~it.bookmarks :value:index}}
				<li class="journal-item low status">
					<span class="group-name"><h4>Глава:</h4><span>{{=value.parent.textName}}. {{=value.parent.textTitle}}</span></span>
					<span class="item-name"><h4>Параграф:</h4><span>{{=value.pageInfo.textName}}. {{=value.pageInfo.textTitle}}</span></span>
				</li>
				{{~}}

				{{~it.notes :value:index}}
				<li class="journal-item low status">
					<span class="group-name"><h4>Глава:</h4><span>{{=value.parent.textName}}. {{=value.parent.textTitle}}</span></span>
					<span class="item-name"><h4>Параграф:</h4><span>{{=value.pageInfo.textName}}. {{=value.pageInfo.textTitle}}</span></span>

					<div class="comment"><span>Комментарий: </span>{{=value.text}}</div>
				</li>
				{{~}}

				{{~it.comments :value:index}}
				<li class="journal-item low status">
					<span class="group-name"><h4>Глава:</h4><span>{{=value.parent.textName}}. {{=value.parent.textTitle}}</span></span>
					<span class="item-name"><h4>Параграф:</h4><span>{{=value.pageInfo.textName}}. {{=value.pageInfo.textTitle}}</span></span>

					<div class="comment"><span><h4>Комментарий:</h4> </span>{{=value.comment}}</div>
					<div class="selection"><span><h4>Помеченный текст:</h4> </span>{{=value.selection}}</div>
				</li>
				{{~}}

				{{~it.sels :value:index}}
				<li class="journal-item low status">
					<span class="group-name"><h4>Глава:</h4><span>{{=value.parent.textName}}. {{=value.parent.textTitle}}</span></span>
					<span class="item-name"><h4>Параграф:</h4><span>{{=value.pageInfo.textName}}. {{=value.pageInfo.textTitle}}</span></span>

					<div class="selection"><span><h4>Помеченный текст:</h4> </span>{{=value.selection}}</div>
				</li>
				{{~}}

			</ul>
		</div>
	</div>
</body>
</html>