{{~it.bookmarks :value:index}}
<li class="item bookmark">
	<a href="#" class="head" target_nav="ebook" target_group="{{=value.pageInfo.parent}}" target_id="{{=value.pageInfo.id}}">
		<span class="group-name">{{=value.parent.textName}}<h4>{{=value.parent.textTitle}}</h4></span>
		<span class="item-name"><h3>{{=value.pageInfo.textName}}</h3><h4>{{=value.pageInfo.textTitle}}</h4></span>
	</a>
</li>
{{~}}

{{~it.notes :value:index}}
<li class="item note">
	<a href="#" class="head" target_nav="ebook" target_group="{{=value.pageInfo.parent}}" target_id="{{=value.pageInfo.id}}">
		<span class="group-name">{{=value.parent.textName}}<h4>{{=value.parent.textTitle}}</h4></span>
		<span class="item-name"><h3>{{=value.pageInfo.textName}}</h3><h4>{{=value.pageInfo.textTitle}}</h4></span>
	</a>

	<div class="comment">{{=value.text}}</div>
</li>
{{~}}

{{~it.comments :value:index}}
<li data-key="{{=value.key}}" class="item highlight comment-block">
	<a href="#" class="head" target_nav="ebook" target_group="{{=value.pageInfo.parent}}" target_id="{{=value.pageInfo.id}}">
		<span class="group-name">{{=value.parent.textName}}<h4>{{=value.parent.textTitle}}</h4></span>
		<span class="item-name"><h3>{{=value.pageInfo.textName}}</h3><h4>{{=value.pageInfo.textTitle}}</h4></span>
	</a>

	<div class="comment">{{=value.comment}}</div>
</li>
{{~}}

{{~it.sels :value:index}}
<li data-key="{{=value.key}}" class="item highlight">
	<a href="#" class="head" target_nav="ebook" target_group="{{=value.pageInfo.parent}}" target_id="{{=value.pageInfo.id}}">
		<span class="group-name">{{=value.parent.textName}}<h4>{{=value.parent.textTitle}}</h4></span>
		<span class="item-name"><h3>{{=value.pageInfo.textName}}</h3><h4>{{=value.pageInfo.textTitle}}</h4></span>
	</a>
</li>
{{~}}