* {
	margin: 0;
	padding: 0;
}

* {
	khtml-user-select: none;
	moz-user-select: -moz-none;
	moz-user-select: none;
	ms-user-select: none;
	o-user-select: none;
	user-select: none;
	webkit-user-select: none;
}

html {
	height: 100%;
	width: 100%;
}

body {
	background: white;
	cursor: default;
	font-family: Roboto, Arial;
	font-size: 16px;
	height: 100%;
	line-height: 1.4em;
	overflow: hidden;
	width: 100%;
}

strong {
	font-weight: 400;
}

img {
	display: block;
	height: auto;
	max-height: 100%;
	width: auto;
	margin: 0 auto;
}

.help-slider {
	border-collapse: collapse;
	display: table;
	height: 100%;
	table-layout: fixed;
	width: 100%;
}

.help-slider .header {
	display: table-row;
	height: 0;
}

.help-slider .header .IN {
	display: table;
	height: 100%;
	table-layout: fixed;
	width: 100%;
}

.help-slider .header h3{
	font-size: 1.5em;
	color: #4c4c4c;
}

.help-slider .header .title {
	padding: 1em;
	width: 27em;
}

.help-slider .main {
	display: table-row;
	height: 100%;
}

.help-slider .navigator {
	display: table-row;
	height: 0;
}

#back-button {
	cursor: pointer;
	color: rgb(0,100,200);
	text-decoration: underline;
	line-height: 2em;
	font-size: 1.125em;
	font-weight: 300;
	vertical-align: middle;
}

#back-button:hover {
	color: #535353;
}


#close-button {
	display: table-cell;
	padding: 15px 20px;
	text-align: center;
	vertical-align: top;	
}

#popup-close {
	
	display: block;
	float: right;
	width: 50px;
	height: 50px;
	
	border-radius: 15px;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: inset 0 0 1em white;

	background: url( '../images/popup_close.png' ) center center no-repeat rgb(245,248,252);
	background-image: url( '../images/popup_close.png' ), -moz-linear-gradient( top, rgb(245,248,252) 0%, rgb(230,235,240) 100% );
	background-image: url( '../images/popup_close.png' ), -webkit-gradient( linear, left top, left bottom, color-stop( 0%, rgb(245,248,252) ), color-stop( 100%, rgb(230,235,240) ) );
	background-image: url( '../images/popup_close.png' ), -webkit-linear-gradient( top, rgb(245,248,252) 0%, rgb(230,235,240) 100% );
	background-image: url( '../images/popup_close.png' ), -o-linear-gradient( top, rgb(245,248,252) 0%, rgb(230,235,240) 100% );
	background-image: url( '../images/popup_close.png' ), -ms-linear-gradient( top, rgb(245,248,252) 0%, rgb(230,235,240) 100% );
	background-image: url( '../images/popup_close.png' ), linear-gradient( to bottom, rgb(245,248,252) 0%, rgb(230,235,240) 100% );

	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	-o-transition: box-shadow 0.2s ease-in-out;
	-ms-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;

}

#popup-close:hover {
	cursor: pointer;
	box-shadow: inset 0 0 1.5em rgb(200,230,255);
}

#popup-close:active {
	cursor: pointer;
	box-shadow: inset 0 0.5em 2em rgba(0,30,70,0.3);
	background-color: rgb(220,225,230);
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}

.current_tut {
	color: #000000;
	line-height: 2em;
	font-size: 1.125em;
	font-weight: 300;
	vertical-align: middle;
}
.current_tut:before {
	content: " > ";
}

.sections-wrapper {
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.sections {
	border-collapse: collapse;
	display: table;
	height: 100%;
	position: absolute;
	table-layout: fixed;
}

#container-sections {
	width: 600%;
}

#toolbar-sections
{
	width: 900%;
}

#navbar-sections
{
	width: 600%;
}

#toolspanel-sections
{
	width: 400%;
}

.section {
	display: table-cell;
	position: relative;
	vertical-align: middle;
}

.section-IN {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	padding: 1em;
}

.preambula {
	margin: 0 0 1em;
	font-family: 'Roboto';
	font-size: 1.125em;
	font-weight: 300;
	line-height: 1.389em
}

.preambula ul {
	margin: 0.5em 0;
	padding-left: 1.5em;
}

.preambula ul li {
	margin-bottom: 1em;
}

.screenshot {
	margin-top: 1em;
}

.navigator .IN {
	border-collapse: separate;
	border-spacing: 1em;
	display: table;
	height: 100%;
	margin: 0 auto;
	table-layout: fixed;
}

.navigator-item {
	cursor: pointer;
	display: table-cell;
	padding: 0;
	padding-top: .05em;
	/* vertical-align: middle; */
	color: #759FDB;
	opacity: 0.4;
	font-size: 2.5em;
}

.navigator-item:before {
     content: "\2022"; /* Добавляем желаемый символ перед элементом списка */ 
}

.navigator-item:hover {
	opacity: 1;
}

.navigator-item.active {
	opacity: 1;
}

#exception-1 {
	position: absolute;
	right: 1em;
	top: 1em;
}

#exception-2 {
	width: 33%;
	float: left;
	text-align: center;
}

#exception-2 p {
	margin: 1em 0;
}

#exception-3 {
	margin: 1em 0;
}

.window {
	display: table;
	height: 100%;
	width: 100%;
}

.window-header {
	display: table-row;
	height: 0;
}

.window-name {
	display: table-cell;
	padding: 1em;
}

.window-name h3 {
	font-size: 1.5em;
	color: #4c4c4c;
}

.window-name p{
	color: #8a8a8a;
	margin-top: .5em
}

.window-content {
	display: table-row;
	padding: 1em;
}

#preview-transmission {
	padding: 0 1em;
	font-size: 1.125em;
	font-weight: 300;
}

.window .link{
	cursor: pointer;
	border: 1px solid rgb(197, 218, 255);
	border-bottom: 3px solid rgb(182, 202, 238);
	border-radius: 15px;
	/* box-shadow: 0 0.1em 0.5em rgba(0,0,0,0.2); */
	padding: .5em;
	padding-right: 3em;
	margin: 1em 0;	
	background-image: url(../images/arrow.svg);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 1.4em;
}

.window .link:hover {
	background-color: ;
	border: 1px solid rgb(152, 173, 211);
	border-bottom: 3px solid rgb(152, 173, 211);

}

.window-header-IN {
	display: table;
	width: 100%;
	border-spacing: 0;
	
}

.arrow-item {
	display: table-cell;
	cursor: pointer;
	position: relative;
	background-size: 1.8em;
	background-position: left top;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	opacity: 0.7;
}

.arrow-item:hover {
	opacity: 1;
	-webkit-transition: border 0.4s linear;
	-moz-transition: border 0.4s linear;
	-o-transition: border 0.4s linear;
	-ms-transition: border 0.4s linear;
	transition: border 0.4s linear;
}

#next-item {
	background-image: url(../images/next.svg);
}

#previous-item {
	background-image: url(../images/previous.svg);
}
