*
{
	margin: 0;
	padding: 0;
}
*
{
	khtml-user-select: none;
	moz-user-select: -moz-none;
	moz-user-select: none;
	ms-user-select: none;
	o-user-select: none;
	user-select: none;
	webkit-user-select: none;
}
html
{
	height: 100%;
	width: 100%;
}
body
{
	background: white;
	cursor: default;
	font-family: Roboto, Arial;
	font-size: 14pt;
	height: 100%;
	line-height: 1.4em;
	overflow: hidden;
	width: 100%;
}
.iframe
{
	max-height: 380px;
	min-height: 380px;
	min-width: 1150px;
	width: 100%;
}
.classic-button, .confirm-button
{
	moz-transition: all 0.2s ease-in-out;
	ms-transition: all 0.2s ease-in-out;
	o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	webkit-transition: all 0.2s ease-in-out;
}
.classic-button, .confirm-button
{
	background: #f2f2f2;
	background: linear-gradient(to bottom, #f2f2f2 0%, #ebebeb 50%, #dddddd 51%, #cfcfcf 100%);
	background: -moz-linear-gradient(top, #f2f2f2 0%, #ebebeb 50%, #dddddd 51%, #cfcfcf 100%);
	background: -ms-linear-gradient(top, #f2f2f2 0%, #ebebeb 50%, #dddddd 51%, #cfcfcf 100%);
	background: -o-linear-gradient(top, #f2f2f2 0%, #ebebeb 50%, #dddddd 51%, #cfcfcf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(50%, #ebebeb), color-stop(51%, #dddddd), color-stop(100%, #cfcfcf));
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #ebebeb 50%, #dddddd 51%, #cfcfcf 100%);
	border: 1px solid #707070;
	border-radius: 3px;
	box-shadow: inset 0 0 1px white;
	color: black;
	cursor: pointer;
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr = '#f2f2f2', endColorstr = '#cfcfcf', GradientType = 0 );
	font-family: inherit;
	font-size: 100%;
	line-height: normal;
	moz-border-radius: 3px;
	padding: 1em 1.5em;
	text-shadow: 0 1px rgba(255,255,255,0.7);
	webkit-border-radius: 3px;
}
.classic-button:hover, .confirm-button:hover
{
	background: #eaf6fd;
	background: linear-gradient(to bottom, #eaf6fd 0%, #d9f0fc 50%, #bee6fd 51%, #a7d9f5 100%);
	background: -moz-linear-gradient(top, #eaf6fd 0%, #d9f0fc 50%, #bee6fd 51%, #a7d9f5 100%);
	background: -ms-linear-gradient(top, #eaf6fd 0%, #d9f0fc 50%, #bee6fd 51%, #a7d9f5 100%);
	background: -o-linear-gradient(top, #eaf6fd 0%, #d9f0fc 50%, #bee6fd 51%, #a7d9f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaf6fd), color-stop(50%, #d9f0fc), color-stop(51%, #bee6fd), color-stop(100%, #a7d9f5));
	background: -webkit-linear-gradient(top, #eaf6fd 0%, #d9f0fc 50%, #bee6fd 51%, #a7d9f5 100%);
	border: 1px solid #3c7fd1;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr = '#eaf6fd', endColorstr = '#a7d9f5', GradientType = 0 );
}
.classic-button:active, .confirm-button:hover
{
	moz-transition: none;
	ms-transition: none;
	o-transition: none;
	transition: none;
	webkit-transition: none;
}
.classic-button:active, .confirm-button:hover
{
	background: #e5f4fc;
	background: linear-gradient(to bottom, #e5f4fc 0%, #c4e5f6 50%, #98d1ef 51%, #68b3db 100%);
	background: -moz-linear-gradient(top, #e5f4fc 0%, #c4e5f6 50%, #98d1ef 51%, #68b3db 100%);
	background: -ms-linear-gradient(top, #e5f4fc 0%, #c4e5f6 50%, #98d1ef 51%, #68b3db 100%);
	background: -o-linear-gradient(top, #e5f4fc 0%, #c4e5f6 50%, #98d1ef 51%, #68b3db 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5f4fc), color-stop(50%, #c4e5f6), color-stop(51%, #98d1ef), color-stop(100%, #68b3db));
	background: -webkit-linear-gradient(top, #e5f4fc 0%, #c4e5f6 50%, #98d1ef 51%, #68b3db 100%);
	border: 1px solid #2c628b;
	box-shadow: inset 0 1px 2px #7e90aa;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr = '#e5f4fc', endColorstr = '#68b3db', GradientType = 0 );
}
.button
{
	moz-transition: all 0.2s ease-in-out;
	ms-transition: all 0.2s ease-in-out;
	o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	webkit-transition: all 0.2s ease-in-out;
}
.button
{
	color: white;
	cursor: pointer;
	padding: 15px 20px;
	text-align: center;
	vertical-align: middle;
}
.button
{
	background-color: rgba(255,255,255,0.0);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 80%;
}
.button:hover
{
	background-color: rgba(255,255,255,0.2);
}
.button:active
{
	moz-transition: none;
	ms-transition: none;
	o-transition: none;
	transition: none;
	webkit-transition: none;
}
.button:active
{
	background-color: rgba(0,0,0,0.8);
}
.button.active
{
	background-color: rgba(0,0,0,0.5);
}
.button.active:hover
{
	background-color: rgba(0,0,0,0.5);
	cursor: default;
}
.button.disabled
{
	background-color: gray !important;
	cursor: default !important;
}
.button.disabled:hover
{
	background-color: gray !important;
	cursor: default !important;
}
.button.disabled:active
{
	background-color: gray !important;
	cursor: default !important;
}
.positive
{
	color: green;
}
.negative
{
	color: red;
}
.window
{
	background: rgb(0,80,180);
	display: table;
	height: 100%;
	position: fixed;
	width: 100%;
}
.window-header
{
	background: rgb(0,100,200);
	display: table-row;
	height: 10%;
}
.window-header-IN
{
	display: table;
	height: 100%;
	width: 100%;
}
.window-header-left
{
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	width: 10%;
}
.window-header-center
{
	color: white;
	display: table-cell;
	font-size: 140%;
	height: 100%;
	padding-left: 20px;
	text-transform: uppercase;
	vertical-align: middle;
	width: 80%;
}
.window-header-right
{
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	width: 10%;
}
.window-close
{
	background-image: url('../images/arrow-up.svg');
}
.window-timer
{
	color: white;
	font-size: 120%;
	padding: 5px 0;
	text-align: center;
}
.window-content
{
	display: table-row;
}
.window-content
{
	background: url('../images/pattern-wrapper.png') #143b7f;
	background: url('../images/pattern-wrapper.png'), -moz-radial-gradient(center, ellipse cover, #073080 0%, #031130 100%);
	background: url('../images/pattern-wrapper.png'), -ms-radial-gradient(center, ellipse cover, #073080 0%, #031130 100%);
	background: url('../images/pattern-wrapper.png'), -o-radial-gradient(center, ellipse cover, #073080 0%, #031130 100%);
	background: url('../images/pattern-wrapper.png'), radial-gradient(ellipse at center, #073080 0%, #031130 100%);
	background: url('../images/pattern-wrapper.png'), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #073080), color-stop(100%, #031130));
	background: url('../images/pattern-wrapper.png'), -webkit-radial-gradient(center, ellipse cover, #073080 0%, #031130 100%);
}
.preview
{
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
}
.preview-image
{
	height: 80%;
}
iframe.module
{
	border: none;
	display: block;
	height: 100%;
	resize: none;
	width: 100%;
}
.help-slider
{
	border-collapse: collapse;
	display: table;
	height: 100%;
	table-layout: fixed;
	width: 100%;
}
.help-slider .header
{
	display: table-row;
	height: 0;
}
.help-slider .main
{
	display: table-row;
	height: 100%;
}
.help-slider .navigator
{
	display: table-row;
	height: 0;
}
.help-slider .header .IN
{
	border-bottom: 1px dashed rgba(0,100,200,0.3);
	display: table;
	height: 100%;
	table-layout: fixed;
	width: 100%;
}
.header-item
{
	display: table-cell;
}
#back-button
{
	background-image: url( 'images/back-button.svg' );
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 3.5em auto;
	padding: 0;
	width: 4em;
}
.header-item.title
{
	font-family: 'Roboto';
	font-size: 1.5em;
	padding: 1em 0.9em;
	vertical-align: middle;
}
.header-item.title p
{
}
#close-button
{
	background-image: url( 'images/close-button.svg' );
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 3.5em auto;
	padding: 0;
	width: 4em;
}
.sections-wrapper
{
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.sections
{
	border-collapse: collapse;
	display: table;
	height: 100%;
	position: absolute;
	table-layout: fixed;
}
#navbar-sections
{
	width: 600%;
}
#container-sections
{
	width: 600%;
}
#toolspanel-sections
{
	width: 400%;
}
#toolbar-sections
{
	width: 700%;
}
.section
{
	display: table-cell;
	position: relative;
	vertical-align: middle;
}
.section-IN
{
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.section-IN img
{
}
.section-IN video
{
	position: absolute;
}
.preambula
{
	font-family: 'Roboto';
	font-size: 0.9em;
}
.preambula ul
{
	margin: 0.5em 0;
	padding-left: 1.5em;
}
.navigator .IN
{
	border-collapse: separate;
	border-spacing: 1em;
	display: table;
	height: 100%;
	margin: 0 auto;
	table-layout: fixed;
}
.navigator-item
{
	background-color: rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 50%;
	display: table-cell;
	height: 1.2em;
	padding: 0;
	vertical-align: middle;
	width: 1.2em;
}
.navigator-item.active
{
	background-color: rgba(0,100,200,0.5);
}
img
{
	height: auto;
	max-width: 100%;
	width: auto;
}