



/* GOLLAPSIBLES */

.collapsible										{ position: relative; }
.collapsible .text 									{ position: relative; display: block; width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: normal; }
.collapsible .image									{ position: relative; display: block; width: 100%; }
.collapsible .image .outline-image					{ margin: 0; overflow: hidden; height: auto; }
.collapsible .image .caption						{ display: none; }
.collapsible .loupe 								{ display: none; cursor: pointer; position: absolute; z-index: 20; background-color: rgba(100,200,0,0.4); background-size: 2.5em auto; background-position: center center; background-repeat: no-repeat; }
.collapsible .loupe:hover							{ background-color: yellow; }
.collapsible .loupe:active							{ background-color: red; }
.collapsible .loupe 								{ width: 4em; right: -1.5em; top: -1em; bottom: -1em; background-image: url( '../images/content/zoom-in-left.svg' ); }
.collapsible.from-left .loupe 						{ width: 4em; left: -1.5em; top: -1em; bottom: -1em; background-image: url( '../images/content/zoom-in-right.svg' ); }

.collapsible.collapsed								{  }
.collapsible.collapsed .text						{ width: auto; white-space: nowrap; }
.collapsible.collapsed .text						{ margin-right: 3em; }
.collapsible.from-left.collapsed .text				{ margin-right: 0; margin-left: 3em; }
.collapsible.collapsed .loupe 						{ display: block; }
.collapsible.collapsed .image						{ width: auto; }
.collapsible.collapsed .image .outline-image		{ height: 0; visibility: hidden; }
.collapsible.collapsed .image .caption				{ display: block; text-align: center; }
.collapsible.collapsed .image						{ margin-right: 4em; }
.collapsible.from-left.collapsed .image				{ margin-right: 0; margin-left: 4em; }

.collapsible.x-collapsed .image						{ width: auto; }
.collapsible.x-collapsed .image .outline-image		{ height: 0; visibility: hidden; }
.collapsible.x-collapsed .image .caption				{ display: block; text-align: center; }
.collapsible.x-collapsed .image						{ margin-right: 4em; }
.collapsible.from-left.x-collapsed .image				{ margin-right: 0; margin-left: 4em; }
.collapsible.x-collapsed .loupe 						{ display: block; }


.collapsible.pressed								{ color: blue; }
.collapsibles-container.minimized					{ position: absolute; overflow: hidden; }
.collapsibles-container.minimized.to-right			{ left: 70%; right: -70%; }
.collapsibles-container.minimized.to-left			{ left: -70%; right: 70%; }

.zoomback											{ cursor: pointer; position: absolute; left: 0; top: 0; right: 0; height: 100%; background-color: rgba(0,0,0,0.2); z-index: 1000; }
.zoomback:hover										{ background-color: rgba(0,0,0,0.1); }
.zoomback:active									{ background-color: rgba(0,0,0,0.3); }

.expanded											{ position: absolute; top: 0; bottom: 0; background-color: transparent; overflow-y: auto; }
.collapsibles-container.to-right + .expanded			{ left: 0; right: 30%; }
.collapsibles-container.to-left + .expanded			{ left: 30%; right: 0; }
.expanded-table										{ display: table; width: 100%; height: 100%; }
.expanded-cell										{ display: table-cell; vertical-align: middle; padding: 2em; }
.substrate											{ display: block; padding: 2em; line-height: 1.4em; text-align: justify; max-width: 30em; margin: 0 auto; background-color: white; }

/* EAPP TYPES */

#wrapper.multitest												{ max-width: 100%; }

.multitest .header .headline 										{ display: table; width: 100%; border-collapse: collapse; border-spacing: 0; background-color: rgb(0,100,200); }
.multitest .header .headline .title								{ display: table-cell; padding: 0.7em 1em; padding-right: 3em; font-family: Arial; color: white; font-size: 1.2em; line-height: 1.2em; background-color: transparent; }
.multitest .header .headline .timer								{ display: table-cell; width: 4em; padding: 0.7em 1em; padding-left: 3em; font-family: Arial; font-size: 1.2em; line-height: 1.2em; background-color: rgb(230,230,230); background-image: url( '../images/content/timer.svg' ); background-position: 0.5em center; background-repeat: no-repeat; background-size: 1.5em auto; }

.multitest .footer .controls										{ display: table; width: 100%; border-collapse: collapse; border-spacing: 0; background-color: rgb(0,100,200); }
.multitest .footer .controls .indicators							{ display: table-cell; vertical-align: middle; background-color: rgb(0,100,200); }
.multitest .footer .controls .indicators-IN						{ display: table; max-width: 100%; border-collapse: separate; border-spacing: 0.5em; }

.multitest .footer .indicator										{ display: table-cell; padding: 0.4em 0.7em; background-color: white; font-size: 1em; font-family: Arial; }
.multitest .footer .indicator.high 								{ background-color: green; color: white; }
.multitest .footer .indicator.low	 								{ background-color: red; color: white; }
.multitest .footer .indicator.current 								{ background-color: black; color: white; }

.multitest .footer .confirm											{ display: table-cell; vertical-align: middle; width: 6em; padding: 0.5em; text-align: right; outline: none; }
.multitest .footer .confirm input[type="button"]::-moz-focus-inner	{ border: 0; padding: 0; }
.multitest .footer .confirm input[type="button"]						{ display: inline-block; padding: 0.4em 0.8em 0.5em 0.8em; font-family: Arial; font-size: 0.9em; line-height: normal; cursor: pointer; background-color: rgb(150,200,250); border: 0.1em solid black; }
.multitest .footer .confirm input[type="button"]:hover				{ background-color: rgb(155,205,255); border: 0.1em solid rgb(120,170,220); }
.multitest .footer .confirm input[type="button"]:active				{ background-color: rgb(100,150,200); border: 0.1em solid rgb(100,120,170); }

.multitest .footer .confirm input[type="button"].disabled			{ background: rgb(200,200,200) !important; cursor: default !important; box-shadow: none; border-color: black !important; }
.multitest .footer .confirm input[type="button"].disabled:hover		{ background: rgb(200,200,200) !important; cursor: default !important; box-shadow: none; border-color: black !important; }
.multitest .footer .confirm input[type="button"].disabled:active		{ background: rgb(200,200,200) !important; cursor: default !important; box-shadow: none; border-color: black !important; }

.multitest .section .questions										{ display: none !important; }
.multitest .section .questions.active								{ display: table-row !important; height: 100%; }
.multitest .section .question										{ display: none; }
.multitest .section .question.current								{ display: block; width: 100%; height: 100%; position: relative; overflow-y: auto; overflow-x: hidden; background-color: gray; }

/* text-block */

.text-block											{ padding: 1em 1.5em; text-align: justify; line-height: 1.4em; background-color: white; }
.text-block.task									{ background-color: rgb(255,250,200); }

/* plank */

.plank 												{ display: table; table-layout: fixed; width: 100%; height: 100%; border-collapse: separate; border-spacing: 0; margin: 1em 0; background-color: transparent; }
.plank-content										{ display: table-cell; vertical-align: middle; width: auto; padding: 1em 1.5em; line-height: 1.4em; text-align: justify; background-color: white; }
.plank-thimble										{ display: table-cell; vertical-align: middle; width: 3em; height: 3em; background-color: rgb(245,240,170); }



.collapsibles-container 								{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; }
.collapsibles-content 								{ display: table; table-layout: fixed; width: 100%; height: 100%; border-collapse: separate; border-spacing: 1em; background-color: rgb(170,210,250); }
.row-top 											{ display: table-row; height: 0; }
.row-middle 											{ display: table-row; height: 100%; }
.cell 												{ display: table-cell; vertical-align: middle; }

/* result */

.results											{ display: none !important; }
.results.active										{ display: table-row !important; height: 100%; }







body								{ background: red; }

.CHECKBOXES	 						{ display: table; margin: 0 auto; table-layout: fixed; border-collapse: collapse; border-spacing: 0; position: relative; }
.CHECKBOXES .ABX					{ display: table-cell; width: auto; vertical-align: middle; }

.checkbox							{ position: relative; width: 2.5em; height: 2.5em; margin: 0 auto; border-radius: 50%; background-color: rgba(0,0,0,0.05); background-position: 0.05em 0.05em; background-repeat: no-repeat; background-size: 2.4em 2.4em; }
.checkbox 		 					{ background-image: url( '../images/checkbox.svg' ); }
.checkbox.checked 					{ background-image: url( '../images/checkbox-checked.svg' ); }

section.results {
	font-family: Roboto Light;
}

section .results-IN {
	display: table-cell;
	padding: 2.5em;
}

section.results h1 {
	font-family: Roboto Thin;
	font-weight: 100;
	padding-left: 0;
	border-left: none;
	margin: 1em 0;
	color: black;
	text-shadow: none;
}

section.results p {
	margin: 1em 0;
	text-indent: 0;
	line-height: 1.2em;
}

section.results .percent, section.results .right, section.results .wrong {
	display: inline-block;
	text-align: center;
	padding: 0 1em 1em 1em;
	border: 1px dotted #DDDDDD;
	margin-right: 2em;
}

section.results .right span, section.results .wrong span, section.results .percent span {
	font-size: 6em;
	line-height: 0.6em;
}

section.results .wrong {
	margin: 0 !important;
}

section.results .right span, section.results .percent span {
	color: #5cbb84;
}

section.results .wrong span {
	color: #bb5c5c;
}

section.results  .donutchart {
	display: inline-block;
	margin-right: 2em;
	margin-bottom: -1em;
	padding: 1em;
	border: 1px dotted #DDDDDD;
}

section.results .circle-text {
	font-size: 17px;
}

section.results input {
	background-color: rgb(241, 241, 241);
	border-radius: 2em;
	padding: 1em;
	font-size: 1em;
}

section.results .circliful {
    position: relative;
}

section.results .circle-text, section.results .circle-info, section.results .circle-text-half, section.results .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}

section.results .circle-info, section.results .circle-info-half {
 color: #999;
}

section.results .circliful .fa {
 margin: -10px 3px 0 3px;
 position: relative;
 bottom: 4px;
}




.LINKS		 						{ display: table; margin: 0 auto; table-layout: fixed; border-collapse: collapse; border-spacing: 0; position: relative; }
.LINKS .SOURCES						{ display: table-cell; width: auto; vertical-align: middle; }
.LINKS .TARGETS 						{ display: table-cell; width: auto; vertical-align: middle; }
.LINKS .gap							{ display: table-cell; width: 15%; }
.LINKS .gap .canvas-container		{ position: relative; }
.LINKS canvas 						{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; }	

.dotplace							{ position: relative; width: 2.3em; height: 2.3em; margin: 0 auto; border-radius: 50%; border: 0.1em solid rgba(0,0,0,0.2); box-shadow: inset 0 0.1em 0.3em rgba(0,0,0,0.2); background-color: rgba(0,0,0,0.1); background-position: 0.05em 0.05em; background-repeat: no-repeat; background-size: 2.2em 2.2em; }
.dotplace.source 					{ background-image: url( '../images/dotplace-source.svg' ); }
.dotplace.target 					{ /*background-image: url( '../images/dotplace-source.svg' );*/ }
.dotplace-IN 						{ position: absolute; left: 0.3em; top: 0.3em; width: 1.7em; height: 1.7em; }
.dot 								{ position: absolute; width: 1.7em; height: 1.7em; border-radius: 50%; background-color: rgb(0,90,200); background-image: url( '../images/dot.svg' ); background-size: 1.6em 1.6em; background-position: 0.05em 0.05em; background-repeat: no-repeat; cursor: pointer; }



.CHECKBOXES	 						{ display: table; margin: 0 auto; table-layout: fixed; border-collapse: collapse; border-spacing: 0; position: relative; }
.CHECKBOXES .ABX						{ display: table-cell; width: auto; vertical-align: middle; }

.checkbox							{ position: relative; width: 2.5em; height: 2.5em; margin: 0 auto; border-radius: 50%; background-color: rgba(0,0,0,0.05); background-position: 0.05em 0.05em; background-repeat: no-repeat; background-size: 2.4em 2.4em; }
.checkbox 		 					{ background-image: url( '../images/checkbox.svg' ); }
.checkbox.checked 					{ background-image: url( '../images/checkbox-checked.svg' ); }

input[type="checkbox"]					{ display: none; }
input[type="checkbox"] + label			{ display: block; position: relative; width: 2em; height: 2em; margin: 0 auto; border-radius: 0%; border: 0.1em solid rgba(0,0,0,0.2); box-shadow: inset 0 0.1em 0.3em rgba(0,0,0,0.2); background-color: rgba(0,0,0,0.1); background-position: 0.2em 0.2em; background-repeat: no-repeat; background-size: 1.6em 1.6em; }
input[type="checkbox"]:hover + label 	{  }
input[type="checkbox"]:checked + label	{ background-image: url( '../images/checkbox.svg' ); }




.RADIOBUTTONS 						{ display: table; margin: 0 auto; table-layout: fixed; border-collapse: collapse; border-spacing: 0; position: relative; }
.RADIOBUTTONS .ABX					{ display: table-cell; width: auto; vertical-align: middle; }

.radiobutton						{ position: relative; width: 2.5em; height: 2.5em; margin: 0 auto; border-radius: 50%; background-color: rgba(0,0,0,0.05); background-position: 0.05em 0.05em; background-repeat: no-repeat; background-size: 2.4em 2.4em; }
.radiobutton 		 				{ background-image: url( '../images/checkbox.svg' ); }
.radiobutton.checked 				{ background-image: url( '../images/checkbox-checked.svg' ); }

input[type="radio"]					{ display: none; }
input[type="radio"] + label			{ display: block; position: relative; width: 2.3em; height: 2.3em; margin: 0 auto; border-radius: 50%; border: 0.1em solid rgba(0,0,0,0.2); box-shadow: inset 0 0.1em 0.3em rgba(0,0,0,0.2); background-color: rgba(0,0,0,0.1); background-position: 0.5em 0.5em; background-repeat: no-repeat; background-size: 1.3em 1.3em; }
input[type="radio"]:hover + label 	{  }
input[type="radio"]:checked + label	{ background-image: url( '../images/radiobutton.svg' ); }



div.plank{
	position:relative;
	display:block;
	border:1px solid #000;
	border-radius:0;
}
div.plank-thimble{
	display:block;
	height:auto;
	border-radius:0;
}
div.plank-content{
	display:block;
	margin:0 0 0 3em;
	border-radius:0;
}
.plank-thimble label{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	cursor:pointer;
}
.plank-thimble input{
	display:none;
}
.plank-thimble label:before{
	content:"";
	display:block;
	position:absolute;
	border-right:1px solid #000;
	background-color:#fff;
	width:3em;
	height:100%;
	top:0;
	left:0;
	-webkit-transition:background-color 0.5s ease-in;
	-moz-transition:background-color 0.5s ease-in;
	transition:background-color 0.5s ease-in;
}
.plank-thimble input:checked + label:before{
	background-color:#c41e3a;	
}
embed{
	vertical-align:middle;
	
}
div.text-block{
	text-align:left;
}

