@font-face {
	font-family: 'PT Sans';
	src: url('pts55f.eot');
	src: url('pts55f.eot?#iefix') format('embedded-opentype'),
		 url('pts55f.woff') format('woff'),
		 url('pts55f.ttf') format('truetype'),
		 url('pts55f.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans';
	src: url('pts56f.eot');
	src: url('pts56f.eot?#iefix') format('embedded-opentype'),
		 url('pts56f.woff') format('woff'),
		 url('pts56f.ttf') format('truetype'),
		 url('pts56f.svg#pt_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'PT Sans';
	src: url('pts75f.eot');
	src: url('pts75f.eot?#iefix') format('embedded-opentype'),
		 url('pts75f.woff') format('woff'),
		 url('pts75f.ttf') format('truetype'),
		 url('pts75f.svg#pt_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans';
	src: url('pts76f.eot');
	src: url('pts76f.eot?#iefix') format('embedded-opentype'),
		 url('pts76f.woff') format('woff'),
		 url('pts76f.ttf') format('truetype'),
		 url('pts76f.svg#pt_sansbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}