@font-face {
	font-family: 'Caviar Dreams';
	src: url('caviardreams.eot');
	src: url('caviardreams.eot?#iefix') format('embedded-opentype'),
		 url('caviardreams.woff') format('woff'),
		 url('caviardreams.ttf') format('truetype'),
		 url('caviardreams.svg#caviar_dreamsregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Caviar Dreams';
	src: url('caviardreams_italic.eot');
	src: url('caviardreams_italic.eot?#iefix') format('embedded-opentype'),
		 url('caviardreams_italic.woff') format('woff'),
		 url('caviardreams_italic.ttf') format('truetype'),
		 url('caviardreams_italic.svg#caviar_dreamsitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Caviar Dreams';
	src: url('caviardreams_bold.eot');
	src: url('caviardreams_bold.eot?#iefix') format('embedded-opentype'),
		 url('caviardreams_bold.woff') format('woff'),
		 url('caviardreams_bold.ttf') format('truetype'),
		 url('caviardreams_bold.svg#caviar_dreamsbold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Caviar Dreams';
	src: url('caviardreams_bolditalic.eot');
	src: url('caviardreams_bolditalic.eot?#iefix') format('embedded-opentype'),
		 url('caviardreams_bolditalic.woff') format('woff'),
		 url('caviardreams_bolditalic.ttf') format('truetype'),
		 url('caviardreams_bolditalic.svg#caviar_dreamsbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}