/*  ################# 
 *	### CSS Reset ###
 *  ################# */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of CSS Reset */

/*  ################# 
 *	### Structure ###
 *  ################# */

html, body, #container {
    height: 100%;
}

#container {
    background-image: url('interface/images/bg3.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
    background-color: black;
}

#wrapper {
    position: absolute;
    box-sizing: border-box;
    top: 37%;
    left: 0;
    width: 100%;
    padding-bottom: 1em;
    background-image: url('interface/images/pattern.png');
    border-top: 1px solid rgb(62, 62, 62);
    border-bottom: 1px solid rgb(62, 62, 62);
    box-shadow: 0 0 100px black;
}

#wrapper ul {
    display: block;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

#wrapper ul li {
    display: inline-block;
    width: 10em;
    margin-top: 1em;
    margin-right: 1em;
    padding: 1em;
    background-color: rgb(66, 66, 66);
    text-align: center;
    vertical-align: top;
    line-height: 0;
    border: 1px solid rgb(89, 89, 89);
    border-radius: 0.625em;
    box-shadow: 0em 0em .5em;
    transition: .5s;
}

#wrapper ul li:hover {
    box-shadow: 0em 0em .5em rgb(7, 247, 234); /* rgb(103, 174, 170); */
    border: 1px solid rgb(7, 247, 234);
    background: rgb(66, 66, 66);
}

#wrapper ul li a {
    text-decoration: none;
    color: rgb(191, 191, 191);
}

#wrapper ul li img {
    width: 8em;
    display: block;
    margin: 0 auto .6em;
    border: 1px solid rgb(49, 49, 49);
    border-radius: 0.625em;
}

#wrapper ul li span {
    font-family: Roboto;
    line-height: 1.5em;
    text-shadow: 1px 1px 1px rgb(34, 34, 34);
}

@media screen and (max-width: 915px) {
    #wrapper {
        top: 20%;
    }
}

@media screen and (max-width: 606px) {
    #wrapper {
        top: 0;
        height: 95%;
    }
}